<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> New User </title>
</head>
<body>
    <h1> Welcome to Our Database. </h1>
    <p> Fill the following details </p>
    <form action="/user" method="post">
        <input type="text" name="username" placeholder="Enter username"> <br>
        <input type="email" name="email" placeholder="Enter email"> <br>
        <input type="password" name="password" placeholder="Enter password">

        <button> Join !</button>
    </form>
</body>
</html>